body {
    margin: 0;
    background: linear-gradient(to right, #7cb9e3, #71d1b3); /* Degradado de fondo */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background: linear-gradient(to bottom, #f093fb, #f5576c); 
    padding: 20px;
    border-radius: 25px; 
    width: 80%; /* Ajusta el ancho del contenedor */
    max-width: 1200px; /* Establece un ancho máximo */
    height: 60vh; /* Ajusta la altura del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.logo {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 100px; /* Ajusta el tamaño del logo según necesites */
}